<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>西西里web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HotelQuery</display-name>
    <servlet-name>HotelQuery</servlet-name>
    <servlet-class>com.etc.servlet.HotelQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelQuery</servlet-name>
    <url-pattern>/HotelQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.etc.servlet.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelListServlet</display-name>
    <servlet-name>HotelListServlet</servlet-name>
    <servlet-class>com.etc.servlet.HotelListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelListServlet</servlet-name>
    <url-pattern>/HotelListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelSearchServlet</display-name>
    <servlet-name>HotelSearchServlet</servlet-name>
    <servlet-class>com.etc.servlet.HotelSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelSearchServlet</servlet-name>
    <url-pattern>/HotelSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.etc.servlet.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomListServlet</display-name>
    <servlet-name>RoomListServlet</servlet-name>
    <servlet-class>com.etc.servlet.RoomListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomListServlet</servlet-name>
    <url-pattern>/RoomListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPriceTrend</display-name>
    <servlet-name>GetPriceTrend</servlet-name>
    <servlet-class>com.etc.servlet.GetPriceTrend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPriceTrend</servlet-name>
    <url-pattern>/GetPriceTrend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPriceTrendServlet</display-name>
    <servlet-name>GetPriceTrendServlet</servlet-name>
    <servlet-class>com.etc.servlet.GetPriceTrendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPriceTrendServlet</servlet-name>
    <url-pattern>/GetPriceTrendServlet</url-pattern>
  </servlet-mapping>
</web-app>